.q-container{
    box-sizing: content-box;
    font-family: "Abril Fatface", serif;
    position: absolute;
    border:2px solid rgb(5, 5, 5);
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 228, 196, 0.727);
    
    border-radius: 30px;
    height: 200px;
    width: 500px;
    top: 1450px;
    left: 100px;
}
.quote{
    padding: 50px 50px;
    color: black;
    font-size: 17px;
    text-align: center;
    
}
.line{
    width: 100%;
    height: 1.5px;
    background-color: black;
}
.bottomQ{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px;
}
.Qauthor{
    color: blach;
    font-size: 20px;
    font-weight: 500;

}
.refresh-icon{
    display: flex;
   
}

.refresh-icon img{
    cursor: pointer;
    height: 36px;
    width: 36px;
    border: 2px solid black;
    border-radius: 20px;
}