*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

.footer-container{
    box-sizing: content-box;
    
    width: 100%;
    padding: 70px 30px 20px ;
    position: absolute;
    top: 1800px;
 
   
    
    

}
.footerimg{
    position: absolute;
    left: 40%;
    top: 0%;
   
}
.socialicons{
    display: flex;
    justify-content: center;
}
.socialicons a{
   
    background-color: black;
    text-decoration: none;
    padding: 10px;
    margin: 30px;
    border-radius: 100%;
}
.socialicons i{
    font-size: 2rem;
    color: rgb(255, 255, 255);
    opacity: 0.9;
}

.footer-nav{
    margin: 20px;
}
.footer-nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
}

.footer-nav ul li a{
    color: black;
    text-decoration: none;
    opacity: 0.9;
    font-size: 1.9em;
    font-family: "Abril Fatface", serif;
    transition: 0.5s;
}
.footer-nav ul li a:hover{
    color: rgb(99, 193, 99);
}